<h1>Products</h1>

<hr>

<%= link_to @featured.name, product_reviews_path(@featured) %>

<hr>

<% @lastThree.each do |product| %>
  <li><%= link_to product.name, product_reviews_path(product) %></li>
<% end %>
