<br><br><br>
<div class="card">
  <h3>Add a new product</h3>
  <p>
    <%= flash[:notice] %>
  </p>
  <%= render 'form' %>
</div>
<br>
<br>
<div class="card">
  <h1>Products</h1>
  <% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</div>
