<br><br>
<div class="review_card">
  <h3>Add a review for <%= @product.name%></h3>
  <p>
    <%= flash[:notice] %>
  </p>
  <%= render 'form' %>
  <p id='back_to_product_link'>
    <%= link_to 'Back to Product Page', product_path(@product) %>
  </p>
</div>
