<br><br>
<div class="card">
  <h3>Add a review for <%= @product.name%></h3>
  <p>
    <%= flash[:notice] %>
  </p>
  <%= render 'form' %>
  <%= link_to 'Back to Product Page', product_path(@product) %>
</div>
